.transactionTable {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}
.transactionTable th {
  background: black;
  color: white;
  padding: 10px;
  border: 1px solid black;
}

.transactionTable td {
  padding: 10px;
  border: 1px solid black;
}
.transactionTable tbody tr:nth-child(even) {
  background: #1ac8f3b6;
}
